#Ansible updated

TYPE="Ethernet"
BOOTPROTO="none"
NAME={{ ansible_default_ipv4.alias }}
DEVICE={{ ansible_default_ipv4.interface }}
ONBOOT="yes"
IPADDR={{ ansible_default_ipv4.address }}
NETMASK=255.255.255.0

